* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  font-family: montserrat-bold;
  background-color: $primary-color1;
}
body::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
section {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
}

.container {
  height: calc(100% - 80px);
  padding-top: 130px;
  width: 80%;
  margin: auto;
  display: block;
}
